.terms{
    background:gradient(linear, left top, left bottom, #000, #eee), url('../../res/images/banner.jpg');
    background-repeat: no-repeat;
    height:300px;
    width:100%;
    object-fit: cover;
    -o-object-fit: cover;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    
}


.terms h3 {
    font-size: 50px;

}